.left {
  width: 35%;
  padding: 6%;
}

.contact-form {
  max-width: 600px;
}

.form-group {
  margin-bottom: 15px;
  margin-top: 2rem;
}

label {
  font-size: 1.5em;
  color: white;
  font-family: cursive;
}

input,
textarea {
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-radius: 10px;
  outline: none;
}

input,
textarea:focus {
  border: 2px solid rgb(98, 255, 98);
}

textarea {
  height: 100px;
}

.circles {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.proceed {
  font-size: 2em;
  padding: 10px 100px;
  border-radius: 30px;
  background-color: #ff6b00;
  outline: none;
}

.pro-btn {
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px 0px;
}
